* {
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  margin: 5px 0px 5px 0px;
}

nav a {
  margin: 5px 10px 5px 10px;
}

body {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: tomato;
  text-decoration: wavy;
}

ul {
  list-style: none;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

.contact img {
  background-color: white;
  width: 40px;
}

.contact img:hover {
  width: 50px;
}
