* {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
}

body {
  background-color: floralwhite;
}

footer {
  background-color: lightgray;
  text-align: center;
}

a {
  text-decoration: none;
}
