* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 7%;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  _position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #222831;
  color: #eeeeee;
  box-shadow: 0px 10px 13px -7px #000000;
  z-index: 10;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  font-size: large;
  font-weight: bold;
}

.profil {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: left;
  border-right: 3px solid #ffd369;
  padding: 10px;
  background-color: #393e46;
  color: #eeeeee;
  max-width: 30%;
}

.fotocontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.fotocontainer img {
  border-radius: 15%;
  max-width: 90%;
  max-height: 90%;
  padding: 10px;
}

.zitat {
  font-weight: inherit;
  font-size: 1.5rem;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 10px 13px -7px #000000;
}

.dates {
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #ffd369;
  border-top: 1px solid #ffd369;
}

.dates span {
  font-weight: bold;
}

.techstack {
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #ffd369;
}

.techstack img:hover {
  width: 50%;
}

ul {
  list-style: none;
  padding: 1.5px;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #eeeeee;
  max-width: 70%;
  padding: 10px;
}

.description article {
  margin: 5px;
  padding: 10px;

  border-bottom: 1px solid #ffd369;
}

.socials {
  display: flex;
}

.socials img {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.socials img:hover {
  height: 100px;
  width: 100px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #222831;
  color: #eeeeee;
  padding: 10px;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

nav a {
  padding: 10px;
}

_nav a:hover {
  border-bottom: solid #ffd369;
}

nav a {
  color: #eeeeee;
  border: 1px #eeeeee solid;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  transition: border 0.1s;
  width: 20%;
}

nav a:hover {
  border: 2px solid #ffd369;
  font-size: 1.25rem;
  text-align: center;
}
